body {
	box-sizing:border-box;
  width: 100%;
  padding: 40px 0px 0px;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  background:#2E9AFE;
}

#wrapper {
  box-sizing:border-box;
  position: relative;
  overflow: hidden;
  width:100%;
  margin:auto;
  padding: 0px 3px 5px 0px;
  background: #F7F8E0;
}

.block_image {
  display:inline-block;
  box-sizing:border-box;
  padding-left: 3px;
}

#container {
  width: 10000px;
  position: relative;
  font-size: 0;
}

.arrow{
  width: 71px;
  height: 142px;
  position: absolute;
  background-position: right 0px;
  background: transparent url("../slider_images/slider_arrows.png") no-repeat scroll 0px 0px;
  background-color: transparent;
  background-image: url("../slider_images/slider_arrows.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0px 0px;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  z-index: 10;
  cursor: pointer;
}

.arrow.left{
  left: 0px;
  background-position: right 0px;
}

.arrow.left:hover{
  background-position: right -363px;
}

.arrow.right{
  right: 0px;
}

.arrow.right:hover{
  background-position: left -363px;
}